@CHARSET "UTF-8";
* {
	padding:0;
	margin:0;
}
body {
	width:1200px;
	margin:0 auto;
	background:#fff;
	font-size:14px;
}
ul {
	list-style-type:none;
}
h2 {
	font-size:14px;
	background:#eee;
	height:25px;
	line-height:25px;
	text-indent:10px;
}
/*#header {*/
/*	width:auto;*/
/*	height:150px;*/
/*	border:2px solid #ccc;*/
/*	margin:10px 0;*/
/*}*/
/*#header h1 {*/
/*	font-size:12px;*/
/*	width:210px;*/
/*	height:39px;*/
/*	background:url(../../images/logo1.jpg) no-repeat;*/
/*	margin:50px 0 0 50px;*/
/*}*/
/*#header h1 a {*/
/*	width:210px;*/
/*	height:39px;*/
/*	display:block;*/
/*	text-indent:-9999px;*/
/*}*/
/*#header ul {*/
/*	text-align:right;*/
/*	padding:20px 50px 0 0;*/
/*}*/
/*#header ul li {*/
/*	display:inline;*/
/*}*/
/*#header ul li a {*/
/*	text-decoration:none;*/
/*	color:#333;*/
/*}*/
/*#header ul li a.manage {*/
/*	color:red;*/
/*}*/
/*#header ul li a:hover {*/
/*	color:#f00;*/
/*	text-decoration:underline;*/
/*}*/
/*#header ul li strong.noread {*/
/*	background:url(../../images/noread.gif) no-repeat left center;*/
/*	padding:0 0 0 18px;*/
/*}*/
/*#header ul li strong.read {*/
/*	background:url(../../images/meg.gif) no-repeat left center;*/
/*	padding:0 0 0 18px;*/
/*}*/
/*#header ul li.skin {*/
/*	position:relative;*/
/*}*/
/*#header ul li dl#skin {*/
/*	position:absolute;*/
/*	top:14px;*/
/*	left:-30px;*/
/*	border:1px dashed #333;*/
/*	width:80px;*/
/*	background:#fff;*/
/*	text-align:center;*/
/*	padding:5px;*/
/*	display:none;*/
/*}*/
/*#header ul li dl#skin dd {*/
/*	padding:2px;*/
/*}*/
#page_num {
	height:20px;
	clear:both;
	padding:20px 0;
	position:relative;
	font-size:12px;
}
#page_num ul {
	position:absolute;
	right:30px;
	height:20px;
}
#page_num ul li {
	float:left;
	width:26px;
	height:20px;
}
#page_num ul li a {
	display:block;
	width:20px;
	height:20px;
	line-height:20px;
	border:1px solid #333;
	text-align:center;
	text-decoration:none;
}
#page_num ul li a:hover,#page_num ul li a.selected {
	background:#666;
	font-weight:bold;
	color:#fff;
}
#page_text {
	height:20px;
	clear:both;
	padding:20px 0;
	font-size:12px;
}
#page_text ul {
	text-align:center;
}
#page_text ul li {
	display:inline;
}
#page_text ul li a {
	color:#333;
}
#member {
	width:auto;
	height:600px;
	border:2px solid #ccc;
	font-size:12px;
}
#member h2 {
	text-indent:0;
	text-align:center;
	height:30px;
	line-height:30px;
}
#member #member_sidebar {
	width:300px;
	height:550px;
	margin:15px;
	border:1px dashed #999;
	float:left;
}
#member #member_sidebar dl {
	width:250px;
	background:red;
	margin:15px auto;
}
#member #member_sidebar dl dt {
	height:40px;
	line-height:40px;
	background:#999;
	font-weight:bold;
	text-align:center;
	color:#fff;
}
#member #member_sidebar dl dd {
	height:40px;
	line-height:40px;
	background:#eee;
	font-weight:bold;
	text-align:center;
}
#member #member_sidebar dl dd a {
	display:block;
	color:#333;
	text-decoration:none;
}
#member #member_sidebar dl dd a:hover {
	background:#ccc;
}
#member #member_main {
	width:590px;
	height:550px;
	margin:15px;
	border:1px dashed #999;
	float:right;
}
#footer {
	clear:both;
	width:auto;
	text-align:center;
	padding:10px 0 0 0;
}
#footer span {
	display: inline-block;
	line-height: 60px;
	color:#06f;
}

.align-center{
	text-align: center;
}
.mgb20{
	margin-bottom: 20px;
}

.blog-header {
	line-height: 1;
	border-bottom: 1px solid #e5e5e5;
}

.blog-header-logo {
	font-family: "Playfair Display", Georgia, "Times New Roman", serif;
	font-size: 2.25rem;
}

.blog-header-logo:hover {
	text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Playfair Display", Georgia, "Times New Roman", serif;
}

.display-4 {
	font-size: 2.5rem;
}
@media (min-width: 768px) {
	.display-4 {
		font-size: 3rem;
	}
}

.nav-scroller {
	position: relative;
	z-index: 2;
	height: 2.75rem;
	overflow-y: hidden;
}

.nav-scroller .nav {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: nowrap;
	flex-wrap: nowrap;
	padding-bottom: 1rem;
	margin-top: -1px;
	overflow-x: auto;
	text-align: center;
	white-space: nowrap;
	-webkit-overflow-scrolling: touch;
}

.nav-scroller .nav-link {
	padding-top: .75rem;
	padding-bottom: .75rem;
	font-size: .875rem;
}

.card-img-right {
	height: 100%;
	border-radius: 0 3px 3px 0;
}

.flex-auto {
	-ms-flex: 0 0 auto;
	-webkit-box-flex: 0;
	flex: 0 0 auto;
}

.h-250 { height: 250px; }
@media (min-width: 768px) {
	.h-md-250 { height: 250px; }
}

.border-top { border-top: 1px solid #e5e5e5; }
.border-bottom { border-bottom: 1px solid #e5e5e5; }

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }

/*
 * Blog name and description
 */
.blog-title {
	margin-bottom: 0;
	font-size: 2rem;
	font-weight: 400;
}
.blog-description {
	font-size: 1.1rem;
	color: #999;
}

@media (min-width: 40em) {
	.blog-title {
		font-size: 3.5rem;
	}
}

/* Pagination */
.blog-pagination {
	margin-bottom: 4rem;
}
.blog-pagination > .btn {
	border-radius: 2rem;
}

/*
 * Blog posts
 */
.blog-post {
	margin-bottom: 4rem;
}
.blog-post-title {
	margin-bottom: .25rem;
	font-size: 2.5rem;
}
.blog-post-meta {
	margin-bottom: 1.25rem;
	color: #999;
}

/*
 * Footer
 */
.blog-footer {
	padding: 2.5rem 0;
	color: #999;
	text-align: center;
	background-color: #f9f9f9;
	border-top: .05rem solid #e5e5e5;
}
.blog-footer p:last-child {
	margin-bottom: 0;
}