<div class="ui raised segment">
  <h2 class="ui header">Form:SKU</h2>
  <form class="ui form" #f='ngForm' (ngSubmit)='onSubmit(f.value)'>
    <div class="field">
      <label for="skuInput">SKU</label>
      <input type="text" placeholder="skuInput" name="sku" id="skuInput" ngModel>
    </div>
    <button type="submit" class="ui button">submit</button>
  </form>
</div>

<div class="ui raised segment">
  <h2 class="ui header">FormBuilder</h2>
  <div class="ui success message">
    <p>The SKU is:{{sku}}</p>
  </div>
  <form class="ui form error" [formGroup]='myForm' (ngSubmit)='onSubmitBuilder(myForm.value)'>

    <div class="field" [class.error]="!sku.valid && sku.touched">
      <label for="skuInput">SKU</label>
      <input type="text" placeholder="skuInput" name="sku" id="skuInput" [formControl]="myForm.controls['sku']">
      <div *ngIf='!sku.valid' class="ui error message">SKU is invalid</div>
      <div *ngIf="sku.hasError('required')" class="ui error message">SKU is required</div>
      <div *ngIf="sku.hasError('invalidSku')" class="ui error message">SKU 必须以123开头</div>
    </div>

    <div *ngIf="!myForm.valid" class="ui error message">myForm is invalid</div>
    <button type="submit" class="ui button">submit</button>
  </form>
</div>