/*
 * @Author: chentian 
 * @Date: 2018-06-24 14:40:16 
 * @Last Modified by: chentian
 * @Last Modified time: 2018-07-05 17:31:11
 */

h1,h2,h3,h4,p{padding: 0;margin: 0;}
a{margin-right: 10px;}
pre{background: #000;color: #fff;font-size: 14px;font-family: sans-serif;text-align: left;}
::selection{
    background: pink;
}
button{margin: 0 5px;}
.navlink a{
    margin-right:10px;
}